/* =========== Nav bar =========== */
* {
    box-sizing: border-box;
    background-color: #05080F; 
} /* I need to change this if I want to be able to set individual background colors for elements */

/* I'm going to need to make this background color lighter for consistent viewing on non-hdr screens */

[class*="col-"] {
    float: left;
    padding: 15px;
}

body {
    background-color: #030408;
    margin: 0;
    padding: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}

.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A62929;
    height: 3.5em;
    text-align: center;
}
.nav-li {
    float: left;
    background-color: #A62929;
    height: 3.5em;
}

.row::after {
    content: "";
    clear:both;
    display: table;
}

.nav-li .nav-a { 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #A62929;
    height: 3.5em;
}
.nav-li .nav-a:hover:not(.active) {
    background-color: #932525;
    height: 3.5em;
}

.active {
    background-color: #FFFFFF;
}
nav ul h3 {
    color: #FFFFFF;
    padding: 0;
    margin: 7.75px;
    font-size: 1.7em;
    background-color: #A62929;
}
h3 {
    text-align: center;
    color: #C68787;
    margin: 0.7em;
}

h4 {
    background: none;
    margin: 0em;
    padding: 0em;
    font-size: 1.3em;
    color: #EBD6D6;
}

h1 {
    color: #B65858;
    text-align: center;
    font-weight:lighter;
    font-size: 2.5em;
    margin: 0.2em;
}
p {
    color: #EBD6D6;
}

p, h1, h2, h3, h4, h5 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
    background-color: #A62929;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.button:hover {
    background-color: #932525;
}

.container {
    height: 2em;
    position: relative;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}