<nav style="width: 280px;" id="navbar">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100%;">
      <img width="248px" height="248px" src="assets/media/vivi.jpg" style="border-radius: 50%;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <h1 style="text-align: center; margin: auto; font-size: 1.8em; padding-top: 1em;">Vivian Hafener</h1>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto" id="mainNav">
        <li class="nav-item">
          <a href="index.html" class="nav-link text-white" aria-current="page">
            <img class="bi me-2" width="16" height="16" src="assets/svg/home.svg" style="filter: invert(100%);"/>
            Who I am
          </a>
        </li>
        <li>
          <a href="projects.html" class="nav-link text-white">
            <img class="bi me-2" width="16" height="16" src="assets/svg/terminal.svg" style="filter: invert(100%);"/>
            What I do
          </a>
        </li>
        <!-- <li>
          <a href="pres.html" class="nav-link text-white">
            <img class="bi me-2" width="16" height="16" src="assets/svg/cv.svg" style="filter: invert(100%);"/>
            Presentations
          </a>
        </li> -->
        <li>
          <a href="blog.html" class="nav-link text-white">
            <img class="bi me-2" width="16" height="16" src="assets/svg/blog.svg" style="filter: invert(100%);"/>
            My blog
          </a>
        </li>
        <li>
          <a href="contact.html" class="nav-link text-white">
            <img class="bi me-2" width="16" height="16" src="assets/svg/email.svg" style="filter: invert(100%);"/>
            Contact me
          </a>
        </li>
      </ul>
      <hr>
    </div>
</nav>