html::-webkit-scrollbar {
  display: none;
}
.friends {
  image-rendering: pixelated
  }


.blurred-img { opacity: 0;}
.img-src {
  position: fixed;
  background-position: center;
  -webkit-background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.codeHead {
  font-size: larger; 
  text-align: left; 
  color: #906CB7;
}
.codeBody {
  font-size: medium; 
  text-align: left; 
  color: darkslategrey;
  line-height: 170%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#headline {
  font-weight: 600; 
  /* color: rgba(0, 0, 0, .85);  */
  color: #f2f2f2;
  font-size: 1.5em;
}

.headline-alt {
  font-weight: 100;
  fill: #f2f2f2;
  filter: invert(100%) sepia(39%) saturate(124%) hue-rotate(207deg) brightness(109%) contrast(90%) opacity(60%);
}

#nameplate {
  padding: 3rem 1.5rem;
  text-align: center;
  position: relative;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}


/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#home {
  margin-left: 280px;
  height: 100vh;
}

main {
  margin-left: 280px;
}

footer {
  margin-left: 280px;
}


.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#iconset {
  display: flex;
  justify-content: space-around;
}

#navbar-desktop {
  position: fixed;
  height: 100%;

}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: relative;
}

html {
  height: -webkit-fill-available;
}

.main-div {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.nav-link:hover {
  background-color: #121416;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

/* Featurettes
------------------------- */
md-block { white-space: pre; font-family: monospace; }
.featurette-divider {
  margin: 2.5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
  margin-top: 0em;
}
#navbar-mobile {
  display: none;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media screen and (max-width:600px) {
  #navbar-desktop {
    display: none;
  }
  #navbar-mobile {
    display: flex;
  }
  #home {
    margin-left: 0px;
  }
  main {
    margin-left: 0px;
  }
  footer {
    margin-left: 0px;
  }
  .featurette-divider {
    margin: 3rem 0; /* Space out the Bootstrap <hr> more */
  }

}

/* ! I DON'T KNOW WHY THIS ISNT WORKING LMAO */

/* Change this somehow on mobile */
@media screen and (max-width: 842px) {
  /* #headline {
    color: rgba(255, 255, 255, 1); 
  } */
  /* .headline-alt {
    filter: invert(100%);
    font-weight: 600;
  } */
  #nameplate {
    background: rgba(0, 0, 0, .85)
  }
}

@media screen and (max-width:992px) {

}

.gallery {
  background-color: black;
}
.album {
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  /* width: 99%; */
} 

.album_cover {  
  background-size: 900px 600px;
  width: 34%;
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.album_cover a {
  width: 100%;
  height: 100%;
}
/* .album_cover h3 {
  display: none;
} */
.album_cover:hover {
  opacity: 50%;
}
.album_text {
  /* text-align: center; */
  /* width: 100%; */
  /* align-items: center; */
  /* display: none; */
  color: #f2f2f2;
  font-size: 2.5em;
}
.gallery_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* color: #f2f2f2; */
  /* padding-left: 2em;
  padding-right: 2em; */
}

.phototitle {
  text-align: center;
}