<!DOCTYPE html>
<html lang ="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Vivian Hafener - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    </head>
    <main>
        <div class="row">
            <div class="col-12">
                <h1>Vivian Hafener</h1>
                <h3>She/Her</h3>
                <h3>Software developer, Sysadmin, and DevOps</h3>
            </div>
        </div>

        <!-- Center this!  -->
        <div class="row">
            <div class="col-12">
                <nav>
                    <div class="container">
                        <div class="nav-li"><a class="nav-a" href="{{url_for('APP.home')}}" style="background-color: #3D151B;"><h4>Home</h4></a> </div>
                        <div class="nav-li"><a class="nav-a" href="{{url_for('APP.projects')}}"><h4>Projects</h4></a> </div>
                        <div class="nav-li"><a class="nav-a" href="{{url_for('APP.contact')}}"><h4>Contact</h4></a> </div>
                    </div>
                </nav>
            </div>
        </div>
        <body>
            <div class="row">
                <div class="col-12">
                    <p>Computing and Information Technologies Student at Rochester Institute of Technology</p>
                </div>
            </div>

            <!-- Figure out how to do max width on the buttons below to prevent stretching -->

            <div class="row"> 
                <div class="col-6" style="width: 50%;">
                    <div class="container">
                        <div class="center">
                            <a href="https://github.com/viv-codes" target="_blank"><button type="button" class="button">GitHub</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="width: 50%;">
                    <div class="container">
                        <div class="center">
                            <button type="button" class="button">Resume</button>
                        </div>
                    </div>
                </div>
            </div>
        </body>
        <footer>
            <p style="font-size: smaller; text-align: center;">© Vivian Hafener 2021</p>
        </footer>
    </main>
</html>